footer {
  font-size: 14px;
  text-align: center;
  margin-bottom: $largeSpacing;

  img {
    width: 45px;
    margin-bottom: $smallSpacing;

    &:hover {
      animation: okay 1s ease;
    }
  }
}

@keyframes okay {
  0% { transform: scale(1.1); }
  10% { transform: scale(.9); }
  25% { transform: scale(1.1); }
  35% { transform: scale(.9); }
  40% { transform: scale(1); }
}