.product-form {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  background: $lightGray;
  padding: $mediumSpacing;
  border: 8px dotted whitesmoke;
  position: relative;

  .form-emoji {
    position: absolute;
    width: 50px;
    top: -20px;

    &:hover {
      animation: 2s sparkle ease infinite;
    }
    

    &.sparkle:nth-of-type(1) {
      left: -20px;
    }
    &.sparkle:nth-of-type(2) {
      right: -20px;
      transform: rotate(180deg);
      transform:scaleX(-1);
    }
  }

  label {
    margin-bottom: $mediumSpacing;
    display: inline-block;
  }

  textarea {
    border: 3px solid whitesmoke;
    padding: 8px;
  }

  input[type=submit] {
    border: 1px solid fuchsia;
    border-bottom: 4px solid fuchsia;
    font-family: 'Anonymous Pro', 'Droid Sans', 'Courier', monospace;
    font-size: 12px;
    font-weight: bold;
    padding: $smallSpacing;
  }

  .img-preview {
    margin-bottom: $mediumSpacing;
    margin-right: $mediumSpacing;
  }

  .image-section {
    label { width: 100%; }
    text-align: center;
  }
}

@keyframes sparkle {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}