// spacing
$fuckThat: 0px;
$smallSpacing: 10px;
$mediumSpacing: 20px;
$largeSpacing: 40px;

//colors
$lightGray: rgba(232,232,232, .2);
$pink: rgb(247,218,223);
$darkPink: darken($pink, 28%);
$blue: rgb(77,167,230);
$green: rgb(190,222,216);

//sizing
$maxDocWidth: 1200px;

//typography
$sansSerif: 'Karla', Futura, sans-serif;
$monospace: 'Cousine', monospace;