.product-display {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}