// spacing
$fuckThat: 0px;
$smallSpacing: 10px;
$mediumSpacing: 20px;
$largeSpacing: 40px;

//colors
$lightGray: #fbfbfb;
$fuchsia: fuchsia;
$cyan: cyan;

.list-container {
  max-width: 1200px;
  margin: 0 auto;
}

table {
  margin: $mediumSpacing auto;

  tr {
    margin: $mediumSpacing fuckThat;
  }

  td {
    padding: $smallSpacing $largeSpacing;
    background: $lightGray;
    border-top: 2px solid $fuchsia;
  }
}

table.bad-products {
  td {
    border-top: 2px solid $cyan;
  }
}

.labels {
  font-weight: bold;
}

.new-link {
  float: right;
  display: inline-block;
  border-bottom: 3px solid $fuchsia;
  background: $lightGray;
  padding: 15px 10px;
  margin: $mediumSpacing auto;
  color: black;
  text-decoration: none;
  transition: all .5s;

  &:hover {
    background: whitesmoke;
  }
}