.main-header {
  position: relative;
  max-width: 450px;
  margin: 0 auto $largeSpacing auto;
  overflow: hidden;
  max-height: 100px;
  transition: all .5s;

  &:hover {
    max-height: 400px;
  }
}

.main-header--text {
  font-size: 3rem;
  z-index: 10;
  position: relative;
  width: 400px;
  margin: $largeSpacing auto;

  &:before,
  &:after {
    position: absolute;
    content: 'Skincare Index';
    opacity: .6;
    
  }

  &:before {
    color: $fuchsia;
    z-index: -20;
    top: 1px;
    left: 15px;
  }

  &:after {
    color: $cyan;
    z-index: -30;
    left: 18px;
    top: -1px;
  }
}

.list-container {
  max-width: $maxDocWidth;
  margin: 0 auto;
}

table {
  margin: $mediumSpacing auto;

  tr {
    margin: $mediumSpacing fuckThat;
  }

  td {
    padding: $smallSpacing $largeSpacing;
    background: $lightGray;
    border-top: 2px solid $fuchsia;
  }

  .name-link {
    a {
      text-decoration: none;
      color: black;
      background: linear-gradient($fuchsia, $fuchsia);
      background-size: 1px 1px;
      background-repeat: repeat-x;
      background-position: 0 98%;
      text-shadow: 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
      transition: all .15s;

      &:hover {
        background-size: 1px 5px;
        text-shadow: none;
      }
    }

    &--bad {
      a {
        background: linear-gradient($cyan, $cyan);
        background-size: 1px 1px;
        background-repeat: repeat-x;
        background-position: 0 98%;
      }  
    }
  }
}

table.bad-products {
  td {
    border-top: 2px solid $cyan;
  }
}

.labels {
  font-weight: bold;
}
