.main-header {
  position: relative;
  max-width: 450px;
  margin: 0 auto $largeSpacing auto;
  overflow: hidden;
  max-height: 100px;
  transition: all .5s;

  &:hover {
    max-height: 400px;
  }
}

.main-header--text {
  font-size: 3rem;
  z-index: 10;
  position: relative;
  width: 400px;
  margin: $largeSpacing auto;

  &:before,
  &:after {
    position: absolute;
    content: 'Skincare Index';
    opacity: .6;
  }

  &:before {
    color: $fuchsia;
    z-index: -20;
    top: 1px;
    left: 15px;
  }

  &:after {
    color: $cyan;
    z-index: -30;
    left: 18px;
    top: -1px;
  }
}

.list-container {
  max-width: $maxDocWidth;
  margin: 0 auto;
}
