<div class="main-header">
  <div class="reveal-more-section">
    <h1 class="main-header--text"><%= link_to 'Skincare Index', products_path %></h1>
    <div class="link">
      <%= link_to 'New product', new_product_path %>   
    </div>
  </div>
</div>