<div class="main-header">
  <div class="reveal-more-section">
    <h1 class="main-header--text"><%= link_to header_text, products_path %></h1>
    <div class="links">
      <div class="link">
        <%= link_to 'New product', new_product_path %>   
      </div>
      <div class="link">
        <%= link_to 'Wishlist', wishlist_path %> 
      </div>
    </div>
  </div>
</div>