<div class="search-bar">
  <input type="checkbox" id="search-checkbox" />
  <label for="search-checkbox">
    <%= image_tag "gradient-emoji-peace.png" %>
  </label>

  <div class="search-form">
    <%= form_tag(products_path, method: :get) do %>
      <%= text_field_tag :query, params[:query], placeholder: "search" %>
      <%= submit_tag "", name: nil %>
    <% end %>
  </div>
</div>