<%= render 'search_bar' %>
<%= render 'main_header', header_text: 'Skincare Index' %>
<div class="list-container">
  <h2>Good products</h2>
  <%= render 'product_table', products: @product_collection.good_products, wishlist: false %>
  </table>

  <h2>Bad products</h2>
  <%= render 'product_table', products: @product_collection.bad_products, wishlist: false %>
</div>