<div class="main-header">
  <h1 class="main-header--text">Skincare Index</h1>
  <div class="link">
    <%= link_to 'New product', new_product_path %>   
  </div>
</div>

<div class="list-container">
  <h2>Good products</h2>
  <%= render 'product_table', products: @product_collection.good_products %>
  </table>

  <h2>Bad products</h2>
  <%= render 'product_table', products: @product_collection.bad_products %>
</div>