<%= render 'search_bar' %>
<%= render 'main_header' %>
<div class="list-container">
  <h2>Good products</h2>
  <%= render 'product_table', products: @product_collection.good_products %>
  </table>

  <h2>Bad products</h2>
  <%= render 'product_table', products: @product_collection.bad_products %>
</div>