<%= render 'back_button' %>
<%= render 'main_header', header_text: 'Wishlist Items' %>
<div class="wishlist-container">
  <%= render 'product_table', products: @wishlist_items, wishlist: true %>
</div>