@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  /* font-weight: normal; */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}